#content-dash {
  display: grid;
  width: 100%;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 2%;
  margin: 3px;
  border-radius: 15px;
}

#dash-header {
  height: 100vh;

  background: url("../../assets/Shape.png") repeat 250px;
}
